.item button {
    flex: 1;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
  }
  
  .deleteTask {
    color: $delete-button-color;
    font-size: 1.1rem;
    border: solid 2px $delete-button-color;
    max-width: 50px;
  }
  
  .deleteTask:hover {
    background-color: $delete-button-color;
    color: $button-textcolor;
  }
  
  .editTask {
    color: $edit-button-color;
    font-size: 1.1rem;
    border: solid 2px $edit-button-color;
    max-width: 50px;
    margin-inline: 5px;
  }
  
  .editTask:hover {
    background-color: $edit-button-color;
    color: $button-textcolor;
  }