.item button {
    flex: 1;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
  }
  
  .deleteTask {
    color: red;
    font-size: 1.1rem;
    border: solid 2px red;
    max-width: 50px;
  }
  
  .deleteTask:hover {
    background-color: red;
    color: white;
  }
  
  .editTask {
    color: orange;
    font-size: 1.1rem;
    border: solid 2px orange;
    max-width: 50px;
    margin-inline: 5px;
  }
  
  .editTask:hover {
    background-color: orange;
    color: white;
  }